* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary-color) !important;
  color: var(--body-color);
  padding-top: 5rem !important;
  overflow-y: scroll;
  overflow-x: hidden;

}

/* Firefox için */
* {
  scrollbar-width: auto;
  /* "auto" veya "thin" */
  scrollbar-color: #8888887a var(--bg-color);
  /* scroll thumb ve track renkleri */
}

#app {
  width: 100%;
  height: 100vh;
}

.container2 {
  width: 100% !important;
  padding: 0.5rem 10.3rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 3.6rem;
  background-color: var(--bg-color);
  border-top: 1px solid rgba(128, 128, 128, 0.281) !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.082) !important;
}

.hr {
  border: 1px solid var(--text-color);
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Temel Tema Değişkenleri */
:root {
  --body-color: #edf0f5;
  --bg-color: #fff;
  --bg2-color: #a2b5dd;
  --text-color: #424e79;
  --primary-color: #f2f6f9;
  --bg1-icon: #ff7300;
  --bg-btn: #4454c3;
  --bg-placeholder: #6d71797a;
  --card-text: #e9e7fd;
  --flag: #ddf6e8;
  --calendar-event: #ffe2e3;
  --calendar-border-color: #e6e6e8;
}

[data-theme="dark"] {
  --body-color: #424e79;
  /* --bg-color: #262b48; #25293c */
  --bg-color: rgb(47 51 73 / 88%);
  --bg2-color: #a2b5dd;
  --text-color: #cfcde4;
  --primary-color: #25293c;
  --bg1-icon: #ff7300;
  --bg-btn: #4454c3;
  --bg-placeholder: #edf0f54b;
  --card-text: #3a3b64;
  --flag: #2e4b4f;
  --calendar-event: #50374a;
  --calendar-border-color: #44485e;
}

/* *******************************************************************/

/* *************************  NAVBAR Start ********************** */
.titleApp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo {
  color: white;
  border-radius: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #7367f0;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  position: fixed !important;
  top: 0 !important;
  z-index: 1000 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 91%;
  font-weight: bold;
  padding: 1rem;
  height: 40px;
}

.titleApp {
  margin-left: 5rem;
  color: var(--text-color);
}

.navbar-nav {
  gap: 4rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item .nav-link {
  color: var(--text-color) !important;
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--body-color);
  border-radius: 5px;
}

.nav-item:hover .nav-link {
  color: var(--text-color);
}

.navbar-icons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  border-radius: 100%;
  font-size: 1rem;
  padding: 3px;
  margin-left: 10rem;
}

.navbar-icons:hover {
  background-color: var(--bg2-color);
}

#theme {
  color: var(--text-color);
  cursor: pointer;
}

/* *************************  NAVBAR End ********************** */

/* *************************  HabitList Start ********************** */
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  border: none !important;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1rem;
  padding-left: 2rem;
  width: 84%;
}

.habit-item {
  border: none !important;
  border-radius: 8px;
  height: 400px;
  background-color: var(--bg-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--primary-color);
  margin-bottom: 2rem;
  box-shadow: 1 1 1 1 rgba(115, 103, 240, 0.3);
}

.habit-item:hover {
  transform: translateY(-5px);
}

.card {
  border-radius: 8px;
}

.Habit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

/* Offcanvas Düzeni */
.offcanvas {
  z-index: 1055;
  max-width: 400px;
  background-color: var(--bg-color) !important;
  box-shadow: 0.25rem 1.125rem 0 rgba(19, 17, 32, 0.22);
  color: var(--text-color) !important;
}

.offcanvas-backdrop {
  background-color: rgba(0, 0, 0, 0.63);
}

/* *************************************************** */

.form-label {
  text-transform: inherit;
  letter-spacing: inherit;
  color: var(--text-color);
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

/* *************************************************** */
.form-control {
  display: block;
  width: 100%;
  padding: 0.426rem 0.9375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--text-color) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-clip: padding-box;
  border-radius: 0.375rem;
  border: 1px solid #7267f063 !important;
  /* Varsayılan border */
  outline: none;
  /* Varsayılan outline kaldırıldı */
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #7267f07a !important;
}

/* Placeholder için ek stil */
.form-control::placeholder {
  color: var(--bg-placeholder) !important;
}

/* Tarih seçici için ek stil */
input[type="date"].form-control::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  background-color: rgba(255, 255, 255, 0.144) !important;
  border-radius: 5px !important;
}

.btn-primary {
  color: var(--text-color) !important;
  background-color: var(--card-text) !important;
  border-color: #7267f0 !important;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(115, 103, 240, 0.3);
  width: 12.5%;
  border: 0.375rem !important;
}

.btn-primary:hover {
  background-color: #887ff3 !important;
  color: white !important;
}

.btn-danger {
  color: white !important;
  background-color: #ff4c51;
  box-shadow: 0 0.125rem 0.375rem 0 #ff4c51;
  width: 12.5%;
  border: 0.375rem !important;
}

.btn-danger:hover {
  background-color: #f7444a;
}

.btn-success {
  color: #fff !important;
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(115, 103, 240, 0.3);
  border: 0.375rem !important;
  width: 46%;
}

.btn-success:hover {
  background-color: #6610f2 !important;
}

.closeBtn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1.5rem;
  color: var(--text-color);
}

.closeBtn:hover {
  color: #90a2ca;
}

.rowItem {
  margin-left: 3rem;
  margin-right: 1rem;
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  height: 10rem;
  text-align: center;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.icon1 {
  font-size: 2.5rem;
  color: var(--bg1-icon);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* *************************  HabitList End ********************** */

/* ************************* Home Page Start ********************** */
.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titlePage {
  color: var(--text-color);
  width: 100%;
}

/* ************************* Home Page End ********************** */

/* ************************* Detail Page Start ********************** */
.detailPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
}

.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.custom-modal-content {
  background-color: var(--bg-color) !important;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 800px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color) !important;
  margin-bottom: 1rem;
}

.modal-title {
  font-size: 1.5rem;
  color: var(--text-color) !important;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}


.note-pad {
  background-color: transparent !important;
  border: none !important;
  padding: 1rem;
  position: relative;
  background-size: 100% 59px !important;
  background-position: top;
  background-repeat: repeat;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--primary-color) 50%, var(--primary-color) 50%) !important;
  height: auto !important;
  border-radius: 5px !important;

}

.note-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 100% !important;
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background: red !important;
  border: none !important;
  border-radius: 5px;
  position: relative;
}

.pin-icon {
  color: #ff4c51;
  font-size: 1.2rem;
  position: absolute;
  top: -10px;
  left: -10px;
  transform: rotate(-30deg);
}

.note-text {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  background-color: transparent !important;
  width: 100% !important;
  color: var(--text-color) !important;
}

.delete-btn {
  color: white !important;
  background-color: #ff4c51;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
  width: 5%;
}

.delete-btn:hover {
  background-color: #f7444a;
}

.modal-footer {
  display: flex;
  justify-content: flex-start !important;
  margin-top: 1rem;
}

.w-50 {
  width: 50%;
}

.containerComponents {
  background-color: var(--bg-color);
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
  padding-left: 1.5rem;
  padding-right: .2rem;

}

.containerHabit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  gap: 2rem;
}

.containerComponents .containerHabit .containerHabitItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
  padding-right: 1rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(115, 103, 240, 0.3);
  background-color: var(--bg-color);
  border: none !important;
}

.content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: 310px;
  color: var(--text-color);
  margin-top: 2rem;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.detail .update {
  display: none !important;
  width: 400px;
  height: 400px !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  position: fixed !important;
  z-index: 1000;
  margin-top: 20rem;
  left: 10rem;
  opacity: 0.9;
}

.update.visible {
  display: block !important;
}

.contentButon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content h4 {
  color: var(--text-color);
}

.content textarea {
  height: 150px;
  margin-bottom: 1rem !important;
}


/* ******************** Calendar Start ********************** */

/* Haftanın her bir günü */
.calendar {
  width: 100%;
  margin: 0 auto;
  border: none !important;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(114, 103, 240, 0.507);
  background-color: var(--bg-color) !important;
  /* background-color: #1fd671fa !important; */
}

.custom-style {
  position: relative;
}

.custom-style::before {
  content: " ✔ Completed";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #28c76f9c;
  padding: .5rem 2rem;
  position: absolute !important;
  z-index: 1000;
  top: 40%;
  left: 15%;
  border-radius: 8px;
}

.calendar h3 {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: var(--text-color);
}

.fc-button-group {
  position: relative;
  vertical-align: middle;
  background-color: var(--bg-color) !important;
  border: none !important;
  margin-left: 3rem;
}

.fc .fc-button-primary {
  background-color: transparent;
  color: var(--text-color);
  border: none !important;
}

.fc .fc-button-primary:hover {
  background-color: #4454c3;
  color: white;
  border: none !important;
}

.fc .fc-button-primary:focus {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none !important;
}

.fc-toolbar-title {
  color: var(--text-color);
  margin-left: 1rem !important;

}

.fc-header-toolbar {
  justify-content: flex-start !important;
}

.fc-scrollgrid-sync-inner {
  color: var(--text-color) !important;
  border: none !important;
}

.fc-scrollgrid-sync-inner a {
  color: var(--text-color) !important;
  text-decoration: none !important;
  font-size: 1rem;
  font-weight: 100;
}


.fc-today-button {
  display: none !important;
}

.fc-dayGridMonth-button {
  display: none !important;
}


.fc-daygrid-day-top {
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
  padding: 1rem !important;
}

.fc-daygrid-day-number {
  font-size: 1em !important;
  color: var(--text-color) !important;
  background-color: var(--primary-color);
  width: 30px;
  text-align: center;
  border-radius: 100%;
}

.fc table.fc-scrollgrid {
  border-color: #44485e !important;
  border-top-color: var(--calendar-border-color) !important;
  border-bottom-width: 0px;
  border-collapse: separate;
  border-right-width: 0px;
  border-left-width: 0px;
}

.fc table,
.fc-view-harness,
.fc-dayGridMonth-view,
.fc .fc-timegrid-axis,
.fc tbody,
.fc thead,
.fc tbody td,
.fc th {
  border-color: var(--calendar-border-color) !important;
}


/* ******************** Calendar End ************************ */

/* ******************** HabitStats Start ************************ */

/* ******************** Default Layout ************************* */

.default-layout {
  width: 100%;
}

/* *************************  HabitItem Start ********************** */
.router {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bi-eye {
  display: inline;
  width: 100%;
}

.bi-check2-square {
  color: var(--text-color);
}

.bi-bar-chart {
  color: var(--text-color);
}

.bi-card-text {
  background-color: var(--card-text) !important;
  color: #7367f0 !important;
}

.bi-flag {
  background-color: var(--flag) !important;
  color: #28c76f !important;
}

.bi-calendar-event {
  background-color: var(--calendar-event) !important;
  color: #ff4c51 !important;
}

.default-layout .cardItem {
  background-color: var(--bg-color) !important;
  width: 100%;
  margin: 0 auto;
  border: none !important;
}

.default-layout .checkbox {
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--card-text) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-layout .checkbox span {
  display: none;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 3rem;
  color: #28c76f;
  font-weight: bold;
  z-index: 1000;
  width: 100px;
}

/* Checkbox işaretlendiğinde span gösterilsin */
.default-layout .checkbox input[type="checkbox"]:checked+span {
  display: inline-block;
}

.default-layout .checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 0.267em !important;
  cursor: pointer;
  border: 1px solid #7267f0d7;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-layout .checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  /* Safari ve Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
}

.default-layout .checkbox input[type="checkbox"]:focus {
  border-color: #7267f0d7 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.default-layout .checkbox input[type="checkbox"]:checked {
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(115, 103, 240, 0.3);
}

.default-layout .checkbox input[type="checkbox"]:checked::after {
  content: "✓";
  /* Tik işareti */
  color: white;
  /* Tik rengini beyaz yap */
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default-layout .Item {
  background-color: var(--bg-color);
  height: 412px;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  border: none;
  margin-bottom: 1rem;
  position: relative;
  padding-right: 1rem;
}

.default-layout .Item .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
}

.default-layout .Item .name {
  background-color: transparent !important;
  color: var(--text-color) !important;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  border: none !important;
}

.default-layout .Item .description {
  background-color: transparent !important;
  color: var(--text-color) !important;
  width: 100%;
  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none !important;
  padding-left: 1rem;
  gap: 1rem;
}

.default-layout .Item .description p {
  font-size: 1.2rem;
}

.default-layout .Item .description i {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.default-layout .Item .edit {
  background-color: transparent !important;
  color: var(--text-color) !important;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none !important;
}

.default-layout .Item .edit button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-text) !important;
}

.default-layout .Item .edit button:hover {
  background-color: #887ff3 !important;
}

.default-layout .Item .edit button:hover i {
  color: white !important;
}


/* *************************  HabitItem End ********************** */

.default-layout .habit-stats {
  padding: 1em;
  border-radius: 8px;
  margin: 0 auto;
  width: 70%;
  color: var(--text-color);
  text-align: center;
}

.default-layout .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 2rem;
}

.default-layout .stat-item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.default-layout .stat-item2 {
  height: 250px !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none !important;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
}

.default-layout .stat-item3 {
  width: 100%;
  height: 570px !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none !important;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-layout .stat-item3 h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.default-layout .stat-item3 .value {
  width: 70px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.default-layout .value {
  width: 70px;
  margin: 0 auto;
  border-radius: 100%;
}

.default-layout .day {
  width: 48%;
}

.default-layout .progress-bar-container {
  padding-top: 2rem;
}

/* ************************ Toplam Gün ******************* */
.default-layout .progress-bar-container {
  display: flex;
  flex-wrap: wrap;
}

.default-layout .progress-bar-item {
  width: 10%;
  height: 20px;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
}

.default-layout .day-number {
  color: black;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-layout .totalDaysCompleted {
  background-color: var(--primary-color);
  width: 75px;
  margin: 0 auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******************************************************* */

.default-layout .value {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* ************************ Oran Barı ********************** */
.default-layout .circular-progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-layout .circular-chart {
  transform: rotate(90deg);
}

.default-layout .circle-bg {
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 2.8;
}

.default-layout .circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.default-layout .percentage {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #f72d66;
}

.default-layout .rate {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************************ Güncel Seri **************************** */

.default-layout .currentSeries {
  width: 25%;
}

/* ******************************************************** */
.default-layout .stats p {
  font-size: 0.9em;
  margin: 0.5em 0;
}

.default-layout .streak-visual p {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.default-layout .streak-visual span {
  display: inline-block;
  height: 8px;
  background-color: #2dce89;
  border-radius: 4px;
}

/* **************************** Default Layout End ************** */

/* ******************** Alternative Layout Start ************************* */

/* *************************  HabitItem Start ********************** */

.alternative-layout .cardItem {
  background-color: greenyellow !important;
  width: 100%;
  margin: 0 auto;
  color: var(--text-color) !important;
  border: none !important;
  gap: 1rem !important;
}

.alternative-layout .Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hotpink;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 346px;
}

.alternative-layout .checkbox {
  margin-left: 1rem;
  border-radius: 100% !important;
  background-color: var(--primary-color) !important;
}

.alternative-layout .name {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  width: 100%;
  height: 15vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  position: relative;
  border: none !important;
}

.alternative-layout .name i {
  color: var(--bg1-icon);
  font-size: 2rem;
  position: absolute;
  top: 3px;
  right: 1.5rem;
}

.alternative-layout .description {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  width: 50%;
  height: 15vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.alternative-layout .edit {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  width: 15%;
  height: 15vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none !important;
}

/* *************************  HabitItem End ********************** */

.alternative-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.alternative-layout .habit-stats {
  padding: 1em;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
  color: var(--text-color);
  text-align: center;
}

.alternative-layout .stats-container {
  width: 100%;
}

.alternative-layout .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 1rem;
  width: 100%;
}

.alternative-layout .stat-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: transparent;
  height: auto;
  gap: 0.5rem;
}

.alternative-layout .stat-item2 {
  height: 170px !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none !important;
  width: 100% !important;
}

.alternative-layout .stat-item3 {
  width: 100% !important;
  height: 346px !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: none !important;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;
}

.alternative-layout .stat-item3 h5 {
  top: 2rem;
  margin-left: 11.5rem;
  position: absolute;
  z-index: 1000;
  color: #242c49e0;
}

.alternative-layout .stat-item3 .value {
  top: 4rem;
  margin-left: 20rem;
  position: absolute;
  z-index: 1000;
  width: 100%;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 0.1rem;
  font-size: 2rem;
  background-color: transparent;
  color: #f72d66;
}

.alternative-layout .value {
  width: 100px;
  margin: 0 auto;
  border-radius: 100%;
}

.alternative-layout .day {
  width: 48%;
}

/* ************************ Toplam Gün ******************* */
.alternative-layout .progress-bar-container {
  display: flex;
  flex-wrap: wrap;
}

.alternative-layout .progress-bar-item {
  width: 10%;
  height: 20px;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
}

.alternative-layout .day-number {
  color: black;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alternative-layout .totalDaysCompleted {
  background-color: var(--primary-color);
  width: 75px;
  margin: 0 auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******************************************************* */

/* ************************ Oran Barı ********************** */
.alternative-layout .circular-progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alternative-layout .circular-chart {
  transform: rotate(90deg);
}

.alternative-layout .circle-bg {
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 2.8;
}

.alternative-layout .circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.alternative-layout .percentage {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #f72d66;
}

.alternative-layout .rate {
  width: 50%;
  height: 346px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************************ Güncel Seri **************************** */

.alternative-layout .currentSeries {
  width: 25%;
}

/* ******************************************************** */
.alternative-layout .stats p {
  font-size: 0.9em;
  margin: 0.5em 0;
}

.alternative-layout .streak-visual p {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.alternative-layout .streak-visual span {
  display: inline-block;
  height: 8px;
  background-color: #2dce89;
  border-radius: 4px;
}

/* **************************** Alternative Layout End ************** */

/* ************************* Stats Page Start ********************** */
.containerStats {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.habitListStats {
  width: 97%;
  height: 50vh !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 5px;
  text-align: center;
  color: var(--text-color) !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem !important;
  position: relative;
  margin-bottom: 2rem;
}

/* Sağ kenara animasyonlu bir el simgesi ekleyin */
.habitListStats::after {
  content: "👇";
  /* El simgesi */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  animation: bounce 1.5s infinite;
  /* Animasyon ekle */
}

/* Yukarı-aşağı hareket için animasyon tanımla */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(-50%) translateY(0);
    /* Başlangıç ve bitiş konumu */
  }

  50% {
    transform: translateY(-50%) translateY(10px);
    /* Elin aşağı doğru hareketi */
  }
}

.habitListStats::-webkit-scrollbar {
  width: 2px;
  /* Kaydırma çubuğu genişliği */
}

.habitListStats::-webkit-scrollbar-thumb {
  background-color: red;
  /* Kaydırma çubuğu rengi */
}

.habitListStats::-webkit-scrollbar-track {
  background: transparent;
  /* Arka planı saydam yaparak yalnızca çubuğu göster */
}

.habitListStatsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 10px;
  width: 95% !important;
  margin-top: 2rem;
}

.theBest {
  width: 92%;
  height: 24vh;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theBest .longestSeries {
  width: 49%;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  height: 24vh;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
}

.theBestItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.theBest .highestCompletionRate {
  width: 49%;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  height: 24vh;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);
}

.confetti-icon {
  font-size: 32px;
  animation: float 2s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.trophy {
  font-size: 5rem;
  color: gold;
  display: inline-block;
  position: relative;
}

.streak-value {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.decorative-name {
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f72d66;
  border-radius: 20px;
  padding: 10px 20px;
  text-shadow: 2px 2px 4px rgba(74, 144, 226, 0.4);
}

.circular-progress {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__background,
.progress-ring__circle {
  fill: none;
  stroke-width: 10;
}

.progress-ring__background {
  stroke: #e6e6e6;
}

.progress-ring__circle {
  stroke: #2dce89;
  /* Yeşil renk */
  transition: stroke-dashoffset 0.5s ease;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.theBestItem1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ************************* Stats Page End ********************** */

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}